/* css syntax */
/* Selector {
    property: value;
} */
/* reference site: css-tricks.com*/
/* reference for colors: paletton.com */

/* selectors
what selectors win out in a cascade depends on: 
1. importance (author > user > browser)
2. specificity (id > class > element)
3. source order (last one wins)
*/

/* use clear: both; to clear floats */

/* differenece between px, em, rem
1. em refers to the font-size of the element's parent
2. rem refers to the font-size of the root element (html)
3. px is a fixed unit */

body {
        background-image: url("/images/pavel-abramiankou-yzh7B-9sOhc-unsplash.jpg");
        background-size: cover;
}
h2,p {
    color: red;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.1);
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    color: rgb(65, 5, 244);
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    font-family: "Open Sans", sans-serif;
}


.webtext {
    color: aqua;
}
#paragraph {
    background: rgba(0,0,255, 0.2);
}